In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [4]:
model=load_model('model.h5')
with open('label_encoder_gender.pkl','rb') as fle:
    label_encoder_gender=pickle.load(fle)
with open('one_encoder_geo.pkl','rb') as fle:
    ohe_geo=pickle.load(fle)
with open('standar_scaler.pkl','rb') as fle:
    scaler=pickle.load(fle)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [5]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [6]:
geo_encoded=ohe_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=ohe_geo.get_feature_names_out(['Geography']))

c:\Users\rohan\CHURN-MODELLING\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [7]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [9]:
input_data=pd.DataFrame([input_data])

In [10]:
input_data=pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)
input_data

   CreditScore Geography  ... Geography_Germany  Geography_Spain
0          600    France  ...               0.0              0.0

[1 rows x 13 columns]

In [11]:
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])

In [12]:
input_data

   CreditScore Geography  ...  Geography_Germany  Geography_Spain
0          600    France  ...                0.0              0.0

[1 rows x 13 columns]

In [14]:
input_data=input_data.drop('Geography',axis=1)

In [16]:
input_data=input_data.reset_index(drop=True)

In [17]:
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [18]:
input_data_scaled=scaler.transform(input_data)

In [19]:
input_data_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [20]:
prediction=model.predict(input_data_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 115ms/step

In [21]:
prediction

array([[0.03378932]], dtype=float32)

In [22]:
if prediction >0.5:
    print("The person will exit")
else:
    print("The person will not exit")

The person will not exit